:root {
   --base:  #b7410e;
   --spacing: 10px;
   --blur:  10px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base);
}

body {
    text-align: center;
    background: #492819;
    color: white;
    font-family: 'Saira Stencil One', cursive;
    font-weight: 100;
    font-size: 32px;
  }

  .controls {
    margin-bottom: 50px;
  }

  input {
    width: 100px;
  }

  input[type=range] {
    height: 16px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100px;
  }

  input[type=range]:focus {
    outline: none;
  }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 3px 3px 3px rgb(236, 97, 4);
  border: 2px solid rgb(231, 135, 10);
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #967943;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #594520;
  }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #594520;
}